---
## Lists
---

In [55]:
import statistics as st

simpleList = [4, "ABC", True, 12.3]
print(simpleList[3])
type(simpleList)

list1  = [1,2,3,"four"]
list2 = ["five", 6,7, False]

a=[1,2,3]
print("mean",st.mean(a))

list3 = list1+list2
type(list3)
list4 = [list3, "added one more"]
list4

list5 = list(range(5))    #range from 0 to 4
list5 = list(range(3,5))  # 3 and 4
list5

list6 = list(range(0, 101, 10)) #step range of 10
list6

12.3
mean 2

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

---

In [59]:
a = ["A","B","C", "D", "E"]

#     0   1    2    3    4

#   -5    -4  -3   -2    -1

In [63]:
print(a[4]==a[-1])
a[-1]

True

'E'

In [65]:
a[2]="replaced value"
a

['A', 'B', 'replaced value', 'D', 'E']

---
# Slicing 
---

# 0     1      2     3    4     5

# A     B      C     D    E     F

# -6    -5     -4   -3    -2    -1

Last index is not considered in slice

In [92]:
list1 = [ "a", "b", "c", "d", "e", "f"]

print(list1[ 0: 10: 2])  # [start :end :step]
print(list1[-6: 10: 2])

print(list1[-5: -2: 1]) # last index is ignored

print(list1[:5])

print(list1[1: 6: -1]) # nothing returned because we have to provide finish to start in opposite way
print(list1[::-1])   #Reverse a list
print(list1[6::-1])

['a', 'c', 'e']
['a', 'c', 'e']
['b', 'c', 'd']
['a', 'b', 'c', 'd', 'e']
[]
['f', 'e', 'd', 'c', 'b', 'a']
['f', 'e', 'd', 'c', 'b', 'a']

# Tuples are Immutable lists created by ( ) instead of [ ]

In [101]:
tup = (1,2,3)
#tup[2] = 11  #fails
tup

(1, 2, 3)

In [104]:
#convert list to tuple
tup2 =tuple(list1)
tup2

#convert tuple to a list
listoftuple = list(tup)
listoftuple

[1, 2, 3]